body {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }


.image-style{
    text-align: center;
}

ul
{
    align-items: center;    
}
ul li 
{
    text-align: center;
    list-style: none;
    color: #484848;
    font-size: 25px;
    letter-spacing: 10px;
    animation: lighting 1.4s linear infinite;
}
@keyframes lighting 
{
	0% {
		color: #353333;
		text-shadow: none;
	}

	90% {
		color: #976d86;
		text-shadow: none;
	}

    65% {
		color: #e9b2d7;
		text-shadow: none;
	}
	100% {
		color: #d400ff;
		text-shadow: 0 0 7px #ec92dd, 0 0 50px #d0ff00;
	}
}

ul li:nth-child(1) 
{
	animation-delay: 0
}
