body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load {
    width: 200px;
    height: 200px;
    border-radius:50%;
    box-shadow: 0 3px 0 #554e50;
    position: absolute;
    animation: myfirst 3s linear infinite;
    animation-direction: cycles;
    transform: translate(-50%, -50%);
  }
  
  .texto{
    font-size: 2em;
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
    color: #262626;
    line-height: 200px;
    background: transparent;
    box-shadow: 0 0 5px rgba(0,0,0,.2)
  }


  @keyframes myfirst {
   0%
      {
          transform: rotate(0deg);
          background: rgb(249, 239, 250); 
          
          
      }
      100%
      {
          transform: rotate(360deg);
          background: rgb(250, 240, 249); 
          
      }

      
    
  }